<%= render 'admin/shared/spree_mail_sub_nav' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p>
        <% if controller.action_name == 'unsubscribed' %>
          <%= button_link_to t('view_all_subscribers'), admin_subscribers_path %>
        <% else %>
          <%= button_link_to t('view_unsubscribed'), unsubscribed_admin_subscribers_path %>
        <% end %>        
        <%= button_link_to t('new_subscriber'), new_object_url, :icon => 'add' %>
      </p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= t('listing_subscribers') %></h1>


<table class="index">
  <thead>
  <tr>
    <%= hook :admin_subscribers_index_headers do %>
      <th><%= sort_link @search, :name, t('name') %></th>
      <th><%= sort_link @search, :email, t('email') %></th>
      <th><%= hook :admin_subscribers_index_header_actions %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber|%>
      <tr id="<%= dom_id subscriber %>">
        <%- locals = {:subscriber => subscriber} %>
        <%= hook :admin_subscribers_index_rows, locals do %>
          <td><%=link_to subscriber.name || "(anonymous)", object_url(subscriber) %></td>
          <td><%= mail_to subscriber.email %></td>
        <% end %>
        <td>
          <%= hook :admin_subscribers_index_row_actions, locals do %>
            <%= link_to_edit subscriber %> &nbsp;
            <%= link_to_delete subscriber %> &nbsp;
            <%= render 'options', :subscriber => subscriber %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>


<% content_for :sidebar do %>
<div class="box">
  <h3><%= t('search') %></h3>

  <% @subscriber = Subscriber.metasearch %>
  <%= form_for [:admin, @subscriber] do |f| %>
    <%- locals = {:f => f} %>
    <%= hook :admin_subscribers_index_search, locals do %>
      <p>
        <label><%= t 'name' %></label><br />
        <%= f.text_field :name_like, :size => 25 %>
      </p>
      <p>
        <label><%= t 'email' %></label><br />
        <%= f.text_field :email_like, :size => 25 %>
      </p>
    <% end %>
    <%= hook :admin_subscribers_index_search_buttons, locals do %>
      <p><%= button t('search') %></p>
    <% end %>
  <% end %>
</div>
<% end %>