<h2><%= t('newsletter') %></h2>
<% if @subscriber && @subscriber.active? %>
  <p>
    <%= t('newsletter_signed_up') %><br/>
    <%= link_to t('unsubscribe'), subscriber_path(@subscriber) %>
  </p>    
<% else %>
  <p>
    <%= t('newsletter_signup') %><br/>
    
    <% if @subscriber %>  
      <%= link_to t('subscribe'), resubscribe_subscriber_path(@subscriber) %>
    <% else %>
      <%= link_to t('subscribe'), subscribe_path %>
    <% end %>

<% end %>
