<%- locals = {:f => f} %>

<%= @email.errors.include?(:to) %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'admin/spree_mail' %>  
  
  <script type="text/javascript">
  //<![CDATA[
  
    $(document).ready(function() {
  
      $('div.selection a').click(function(evt) {
        evt.preventDefault();
        var a = $(this);
        var href = a.attr('href');
        var checkboxes = a.siblings('ul.select').find('input.checkbox');
        switch(href) {
          case '#select-all':        
            checkboxes.attr('checked', true);
            break;
          case '#deselect-all':
            checkboxes.attr('checked', false);        
            break;
        }
      });
      
      $('div.selection li').click(function(evt) {
        if (evt.target.type == 'checkbox') return true;
        evt.preventDefault();
        var cb = $(this).find('input[type=checkbox]');
        cb.attr('checked', cb.is(':checked') ? false : true);
      });
      
    });

    
  //]]>
  </script>
  
<% end %>

<%= hook :admin_email_form_fields, locals do %>
  
  <%= render "shared/error_messages", :target => @email %>
  
  <div class="selection left">

    <h3><%= t("select_subscribers") %>:</h3>
    <%= link_to t("select_all"), "#select-all" %> / 
    <%= link_to t("deselect_all"), "#deselect-all" %>
    <ul class="select">
      <% @subscribers.each do |subscriber| %>
        <li class="checkbox">
          <%= check_box_tag "email[to][#{subscriber.id}]", subscriber.email, @email.recipients.include?(subscriber.email), :class => 'checkbox' %>
          <%= label_tag "email[to][#{subscriber.id}]", truncate("#{subscriber.name} <#{subscriber.email}>", :length => 37), :class => 'checkbox' %>
        </li>
      <% end %>
    </ul>
    <%= hidden_field_tag "email[to][0]", "" %>
  </div>
  
  <div class="right">
    
    <h3><%= t("message_details")%></h3>
    <%= f.field_container :subject do %>
      <%= f.label :subject, t("subject") %><br />
      <%= f.text_field :subject, :class => "title" %>
      <%= error_message_on :email, :subject %>
    <% end %>
    
    <%= f.field_container :body do %>
      <%= f.label :body, t("message_body") %><br />
      <%= f.text_area :body  %>
      <%= error_message_on :email, :body %>
    <% end %>
    
  </div>
  
<% end %>
