<%= render 'admin/shared/spree_mail_sub_nav' %>

<%= hook :admin_email_new_form_header do %>
  <h1><%= t("#{@email.state}_email") %></h1>
  <%= progress_steps %>
  <br/>
<% end %>

<%= hook :admin_email_new_form do %>
  <%= form_for([:admin, @email]) do |f| %>
    
    <%= render :partial => "form", :locals => { :f => f } %>

    <p class="form-buttons">
      <button type="submit">
        <span><%= t('save_and_continue') %> &rarr;</span>
      </button>
    </p>
    
  <% end %>
<% end %>