<%= render 'admin/shared/spree_mail_sub_nav' %>

<%= hook :admin_email_new_form_header do %>
  <h1><%= t('new_email') %></h1>
  <%= progress_steps %>
  <br/>
<% end %>

<%= hook :admin_email_new_form do %>
  <%= form_for(:email, :url => collection_url) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= hook :admin_email_new_form_buttons do %>
      <p class="form-buttons">
        <button type="submit">
          <span>Save &amp; Continue &rarr;</span>
        </button>
      </p>
    <% end %>
  <% end %>
<% end %>